/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Font weights:
Default 400
Medium 500
Semi-bold 600
Bold 700


- Letter Height:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
- -0.5px
- 0.75

--- 02 COLOR

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

- Primary: #e67e22
- Tints: #fdf2e9, #fae5d3
- Shades: #cf711f
- Accents
- Greys
#555
#333
#6f6f6f



--- SHADOWS 


--- BORDER RADIUS
default: 1rem
1.2rem

--- SPACE SYSTEM
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";

@import "layout/grid";
@import "layout/header";

@import "pages/home";
