.row {
  max-width: $grid-width;
  margin: 0 auto;
  background-color: #eee;

  &:not(:last-child) {
  }
}

.grid {
  display: grid;
  // background-color: red;
  gap: 2.4rem;
  max-width: $grid-width;
  margin: 0 auto;

  &__2--cols {
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: 1fr 1fr;

    &--small {
      gap: 0.8rem;
    }

    &--medium {
      gap: 1.6rem;
    }

    &--big {
      gap: 3.2rem;
    }

    &--13 {
      grid-template-columns: 1fr 3fr;
    }
  }

  &__3--cols {
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: 1fr 1fr;
  }

  &__4--cols {
    grid-template-columns: repeat(4, 1fr);
    gap: 4.8rem;
    // grid-template-columns: 1fr 1fr;
  }

  &__2--rows {
    grid-template-rows: repeat(2, 1fr);
    // grid-template-rows: 1fr 1fr;

    &__48 {
      row-gap: 8rem;
    }
  }

  &__3--rows {
    grid-template-rows: repeat(3, 1fr);
    // grid-template-rows: 1fr 1fr;

    &__8 {
      row-gap: 8rem;
    }
  }

  &__gap--48 {
    gap: 4.8rem;
  }

  &__5--rows {
    grid-template-rows: repeat(5, 1fr);
  }

  // div {
  //   background-color: red;
  // }
}
