.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba($color-black, 0.8);
  top: 0;
  left: 0;

  z-index: 99999;

  opacity: 0;
  visibility: hidden;

  &__content {
    width: 75%;
    // height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

    @include abscenter;

    opacity: 0;

    transform: translate(-50%, -50%) scale(0.25);

    transition: all 0.5s 0.2s;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    // img {
    //   width: 50%;
    //   display: block;
    // }
  }

  &__right {
    // display: table-cell;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 1.8rem 3.6rem;
  }

  &__text {
    // margin-top: 5rem;
    // align-self: center;
    position: relative;
  }

  &__para {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 3.2rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;
  }

  &__img {
    max-width: 100%;
    display: block;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close:link,
  :visited {
    display: inline-block;
    color: $color-grey-dark;
    text-decoration: none;

    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
  }

  &__close:hover {
    color: $color-primary;
  }
}
