.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba($color-black, 0.8);
  top: 0;
  left: 0;

  z-index: 99999;

  &__content {
    width: 75%;
    // height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);

    @include abscenter;
  }

  &__left {
    // img {
    //   width: 50%;
    //   display: block;
    // }
  }

  &__right {
    // display: table-cell;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 1.8rem 3.6rem;
  }

  &__text {
    // margin-top: 5rem;
    // align-self: center;
  }

  &__para {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 3.2rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;
  }

  &__img {
    max-width: 100%;
    display: block;
  }
}
