// --- SPACE SYSTEM
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4.8rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

// .u-margin-bottom-8 {
//   margin-bottom: 8rem;
// }
// .u-margin-bottom-12 {
//   margin-bottom: 12rem;
// }
// .u-margin-bottom-16 {
//   margin-bottom: 16rem;
// }
// .u-margin-bottom-24 {
//   margin-bottom: 24rem;
// }
// .u-margin-bottom-32 {
//   margin-bottom: 32rem;
// }
// .u-margin-bottom-48 {
//   margin-bottom: 48rem;
// }
// .u-margin-bottom-4 {
//   margin-bottom: 4rem;
// }
// .u-margin-bottom-4 {
//   margin-bottom: 4rem;
// }
// .u-margin-bottom-4 {
//   margin-bottom: 4rem;
// }
// .u-margin-bottom-4 {
//   margin-bottom: 4rem;
// }
