.section-about {
  // display: grid;
  // grid-template-columns: repeat(1fr, 2);
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");

  background-size: cover;

  transform: skewY(-7deg);

  margin-top: -11.5rem;

  & > * {
    transform: skewY(7deg);
  }

  // background-position: top;

  // // clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0, 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
